* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: white;
}
.reggaeton {
    display: flex;
    flex-direction: column;
}

#reggae> h1{
    color: blue;
}

* {
    color: black;
}

#reggae {
    color: blue;
}

.reggaeton {
    color: orange;
}

p {
    color: black;
}

ul li {
    margin: 20px;
    padding: 2px;
    border: solid black 2px;
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    
}
li a:hover{
    margin: 20px;
    padding: 2px;
    border:solid red 2px;
    text-decoration: none;
    color: green;
}

.flexbox {
    justify-content: space-between;
}

li a:visited{
    color: purple;
}

li a:active {
    color: blue;
}